build/*
build_bl/*
Tests/build/*
Tests/unit/build/*
.settings/
.vscode/
Kineis/doc/html/
.externalToolBuilders/
*.log/
*.log
*.bak
*.ioc
.claude/*
Tools/*
Bootloader/build/*
Tests/report/
.cache/
compile_commands.json